@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  position: relative;
  text-decoration: none;
  padding-bottom: 1px;
  display: inline-block; 
}

.nav-link::after {
  display: inline-block; 
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.rightside {
  background-image: url("https://img.freepik.com/free-photo/couple-leaving-shopping-mall-after-successful-shopping_329181-1744.jpg?ga=GA1.1.1773174477.1726772804&semt=ais_hybrid");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.prodcard {
  transition: transform 0.4s ease-in-out;
}

.prodcard:hover {
  transform: scale(1.04);
}

.searchinput::placeholder {
  color: white;
}

.namediv {
  border: 2px solid white;
  width: 100%;
  padding: 5px 20px 0px 20px;
  border-radius: 10px;
  line-height: 10px;
}

.abc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.likedbtn {
  color: red;
  cursor: pointer;
}
.contactinput:focus{
  border: 3px solid rgb(0, 110, 255) !important;
}





/* media query */

@media only screen and (max-width: 1200px) {
  .hhhh {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .leftside {
    padding: 40px 15px 0px 10px;
    height: 70vh;
  }

  .rightside {
    height: 60vh;
  }

  .main {
    height: 50vh;
  }

  .hhhh {
    width: 26%;
  }
  .contactleftbox{
    margin-bottom: 15px;
  }
}